In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("D:\\train_df64byy.csv")

In [3]:
data.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,NaN,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0

In [20]:
data_d=pd.get_dummies(data)

In [21]:
data.Accomodation_Type.value_counts()

Owned     27951
Rented    22931
Name: Accomodation_Type, dtype: int64

In [22]:
data.Reco_Insurance_Type.value_counts()

Individual    40536
Joint         10346
Name: Reco_Insurance_Type, dtype: int64

In [23]:
data.Is_Spouse.value_counts()

No     42460
Yes     8422
Name: Is_Spouse, dtype: int64

In [24]:
data.Upper_Age.value_counts();

In [25]:
data.Lower_Age.value_counts();

In [26]:
data.Holding_Policy_Type.value_counts()

3.0    13279
1.0     8173
2.0     5005
4.0     4174
Name: Holding_Policy_Type, dtype: int64

In [27]:
data.Holding_Policy_Duration.value_counts()

1.0     4499
14+     4335
2.0     4260
3.0     3586
4.0     2771
5.0     2362
6.0     1894
7.0     1645
8.0     1316
9.0     1114
10.0     813
11.0     546
12.0     513
13.0     511
14.0     466
Name: Holding_Policy_Duration, dtype: int64

In [28]:
data.Reco_Policy_Cat.value_counts();

In [29]:
data.Reco_Policy_Premium.value_counts();

In [30]:
data.isna().sum()

ID                             0
City_Code                      0
Region_Code                    0
Accomodation_Type              0
Reco_Insurance_Type            0
Upper_Age                      0
Lower_Age                      0
Is_Spouse                      0
Health Indicator           11691
Holding_Policy_Duration    20251
Holding_Policy_Type        20251
Reco_Policy_Cat                0
Reco_Policy_Premium            0
Response                       0
dtype: int64

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50882 entries, 0 to 50881
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       50882 non-null  int64
 1   City_Code                50882 non-null  object
 2   Region_Code              50882 non-null  int64
 3   Accomodation_Type        50882 non-null  object
 4   Reco_Insurance_Type      50882 non-null  object
 5   Upper_Age                50882 non-null  int64
 6   Lower_Age                50882 non-null  int64
 7   Is_Spouse                50882 non-null  object
 8   Health Indicator         39191 non-null  object
 9   Holding_Policy_Duration  30631 non-null  object
 10  Holding_Policy_Type      30631 non-null  float64
 11  Reco_Policy_Cat          50882 non-null  int64
 12  Reco_Policy_Premium      50882 non-null  float64
 13  Response                 50882 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 5.4+ MB

In [32]:
data.describe()

,ID,Region_Code,Upper_Age,Lower_Age,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
count,50882.000000,50882.000000,50882.000000,50882.000000,30631.000000,50882.000000,50882.000000,50882.000000
mean,25441.500000,1732.788707,44.856275,42.738866,2.439228,15.115188,14183.950069,0.239947
std,14688.512535,1424.081652,17.310271,17.319375,1.025923,6.340663,6590.074873,0.427055
min,1.000000,1.000000,18.000000,16.000000,1.000000,1.000000,2280.000000,0.000000
25%,12721.250000,523.000000,28.000000,27.000000,1.000000,12.000000,9248.000000,0.000000
50%,25441.500000,1391.000000,44.000000,40.000000,3.000000,17.000000,13178.000000,0.000000
75%,38161.750000,2667.000000,59.000000,57.000000,3.000000,20.000000,18096.000000,0.000000
max,50882.000000,6194.000000,75.000000,75.000000,4.000000,22.000000,43350.400000,1.000000

In [33]:
data.shape

(50882, 14)

In [34]:
data.dtypes

ID                           int64
City_Code                   object
Region_Code                  int64
Accomodation_Type           object
Reco_Insurance_Type         object
Upper_Age                    int64
Lower_Age                    int64
Is_Spouse                   object
Health Indicator            object
Holding_Policy_Duration     object
Holding_Policy_Type        float64
Reco_Policy_Cat              int64
Reco_Policy_Premium        float64
Response                     int64
dtype: object

In [35]:
data.City_Code.value_counts();

In [36]:
data.Region_Code.value_counts();

In [37]:
data.corr()

,ID,Region_Code,Upper_Age,Lower_Age,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
ID,1.000000,-0.000465,-0.001725,0.001101,0.006649,-0.002235,-0.002350,0.005159
Region_Code,-0.000465,1.000000,-0.005649,-0.005928,0.011599,-0.065120,-0.010797,0.001121
Upper_Age,-0.001725,-0.005649,1.000000,0.921392,0.141890,0.025257,0.792689,0.002772
Lower_Age,0.001101,-0.005928,0.921392,1.000000,0.118028,0.021163,0.615739,-0.002099
Holding_Policy_Type,0.006649,0.011599,0.141890,0.118028,1.000000,0.079678,0.121342,0.009297
Reco_Policy_Cat,-0.002235,-0.065120,0.025257,0.021163,0.079678,1.000000,0.060989,0.114321
Reco_Policy_Premium,-0.002350,-0.010797,0.792689,0.615739,0.121342,0.060989,1.000000,0.007943
Response,0.005159,0.001121,0.002772,-0.002099,0.009297,0.114321,0.007943,1.000000

In [62]:
data1=data.rename(columns={"Health Indicator":"Health_Indicator"})
data1.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health_Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,NaN,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0

In [61]:
obj_data1=data1.select_dtypes(include=['object']).copy()
obj_data1.head()

,City_Code,Accomodation_Type,Reco_Insurance_Type,Is_Spouse,Health_Indicator,Holding_Policy_Duration
0,C3,Rented,Individual,No,X1,14+
1,C5,Owned,Joint,No,X2,NaN
2,C5,Owned,Individual,No,NaN,1.0
3,C24,Owned,Joint,No,X1,14+
4,C8,Rented,Individual,No,X2,3.0

In [77]:
obj_data1[obj_data1.isnull().any(axis=1)].count()
obj_data1[obj_data1.isnull().any(axis=1)].head()

      Lapack (http://www.netlib.org/lapack/) sources not found.
      Directories to search for the sources can be specified in the
      numpy/distutils/site.cfg file (section [lapack_src]) or by setting
      the LAPACK_SRC environment variable.
    return getattr(self, '_calc_info_{}'.format(name))()
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  {}
  {}
  ----------------------------------------
  ERROR: Failed building wheel for scs
    ERROR: Command errored out with exit status 1:
     command: 'C:\Users\LENOVO\anaconda3\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\LENOVO\\AppData\\Local\\Temp\\pip-install-n92xdb6b\\ecos\\setup.py'"'"'; __file__='"'"'C:\\Users\\LENOVO\\AppData\\Local\\Temp\\pip-install-n92xdb6b\\ecos\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record 'C:\Users\LENOVO\AppData\Local\Temp\pip-record-850llitw\install-record.txt' --single-version-externally-managed --compile --install-headers 'C:\Users\LENOVO\anaconda3\Include\ecos'
         cwd: C:\Users\LENOVO\AppData\Local\Temp\pip-install-n92xdb6b\ecos\
    Complete output (12 lines):
    running install
    running build
    running build_py
    creating build
    creating build\lib.win-amd64-3.8
    creating build\lib.win-amd64-3.8\ecos
    copying src\ecos\ecos.py -> build\lib.win-amd64-3.8\ecos
    copying src\ecos\version.py -> build\lib.win-amd64-3.8\ecos
    copying src\ecos\__init__.py -> build\lib.win-amd64-3.8\ecos
    running build_ext
    building '_ecos' extension
    error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
    ----------------------------------------
ERROR: Command errored out with exit status 1: 'C:\Users\LENOVO\anaconda3\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\LENOVO\\AppData\\Local\\Temp\\pip-install-n92xdb6b\\ecos\\setup.py'"'"'; __file__='"'"'C:\\Users\\LENOVO\\AppData\\Local\\Temp\\pip-install-n92xdb6b\\ecos\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record 'C:\Users\LENOVO\AppData\Local\Temp\pip-record-850llitw\install-record.txt' --single-version-externally-managed --compile --install-headers 'C:\Users\LENOVO\anaconda3\Include\ecos' Check the logs for full command output.

  Created wheel for wrapt: filename=wrapt-1.12.1-py3-none-any.whl size=19558 sha256=65b4e99cc7e950c040f802417585e69537b2cb7b230c6f0fc39b22aeefd30373
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\5f\fd\9e\b6cf5890494cb8ef0b5eaff72e5d55a70fb56316007d6dfe73
Successfully built fancyimpute knnimpute termcolor wrapt
Failed to build ecos scs
Installing collected packages: knnimpute, qdldl, osqp, ecos, scs, cvxpy, keras, tensorflow-estimator, protobuf, tensorboard-plugin-wit, grpcio, pyasn1, rsa, cachetools, pyasn1-modules, google-auth, oauthlib, requests-oauthlib, google-auth-oauthlib, markdown, absl-py, tensorboard, flatbuffers, termcolor, astunparse, keras-preprocessing, opt-einsum, google-pasta, wrapt, gast, tensorflow, fancyimpute
    Running setup.py install for ecos: started
    Running setup.py install for ecos: finished with status 'error'

,City_Code,Accomodation_Type,Reco_Insurance_Type,Is_Spouse,Health_Indicator,Holding_Policy_Duration
1,C5,Owned,Joint,No,X2,NaN
2,C5,Owned,Individual,No,NaN,1.0
6,C3,Owned,Individual,No,NaN,NaN
9,C1,Owned,Joint,Yes,NaN,7.0
10,C28,Owned,Individual,No,X2,NaN

In [56]:
obj_data1["Health_Indicator"].value_counts()

X1    13010
X2    10332
X3     6762
X4     5743
X5     1727
X6     1280
X7      196
X8       78
X9       63
Name: Health_Indicator, dtype: int64

In [57]:
obj_data1["Holding_Policy_Duration"].value_counts()

1.0     4499
14+     4335
2.0     4260
3.0     3586
4.0     2771
5.0     2362
6.0     1894
7.0     1645
8.0     1316
9.0     1114
10.0     813
11.0     546
12.0     513
13.0     511
14.0     466
Name: Holding_Policy_Duration, dtype: int64

In [59]:
data["Holding_Policy_Type"].value_counts()

3.0    13279
1.0     8173
2.0     5005
4.0     4174
Name: Holding_Policy_Type, dtype: int64

In [66]:
x=data1.iloc[:,8:11]
x.head()

  Health_Indicator Holding_Policy_Duration  Holding_Policy_Type
0               X1                     14+                  3.0
1               X2                     NaN                  NaN
2              NaN                     1.0                  1.0
3               X1                     14+                  3.0
4               X2                     3.0                  1.0

In [72]:
y=data.iloc[:,13]
y.head()

0    0
1    0
2    1
3    0
4    0
Name: Response, dtype: int64

In [74]:
import numpy as np
f=np.hstack((x,y[:,None]))

<ipython-input-74-b43d341a9146>:2: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  f=np.hstack((x,y[:,None]))

In [76]:
!pip install fancyimpute

Collecting fancyimpute

  ERROR: Command errored out with exit status 1:
   command: 'C:\Users\LENOVO\anaconda3\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\LENOVO\\AppData\\Local\\Temp\\pip-install-n92xdb6b\\ecos\\setup.py'"'"'; __file__='"'"'C:\\Users\\LENOVO\\AppData\\Local\\Temp\\pip-install-n92xdb6b\\ecos\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' bdist_wheel -d 'C:\Users\LENOVO\AppData\Local\Temp\pip-wheel-z85ir_df'
       cwd: C:\Users\LENOVO\AppData\Local\Temp\pip-install-n92xdb6b\ecos\
  Complete output (12 lines):
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-3.8
  creating build\lib.win-amd64-3.8\ecos
  copying src\ecos\ecos.py -> build\lib.win-amd64-3.8\ecos
  copying src\ecos\version.py -> build\lib.win-amd64-3.8\ecos
  copying src\ecos\__init__.py -> build\lib.win-amd64-3.8\ecos
  running build_ext
  building '_ecos' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  ----------------------------------------
  ERROR: Failed building wheel for ecos
  ERROR: Command errored out with exit status 1:
   command: 'C:\Users\LENOVO\anaconda3\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\LENOVO\\AppData\\Local\\Temp\\pip-install-n92xdb6b\\scs\\setup.py'"'"'; __file__='"'"'C:\\Users\\LENOVO\\AppData\\Local\\Temp\\pip-install-n92xdb6b\\scs\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' bdist_wheel -d 'C:\Users\LENOVO\AppData\Local\Temp\pip-wheel-feae9pxw'
       cwd: C:\Users\LENOVO\AppData\Local\Temp\pip-install-n92xdb6b\scs\
  Complete output (76 lines):
  Namespace(blas64=False, extraverbose=False, float32=False, gpu=False, int32=False, scs=False)
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-3.8
  creating build\lib.win-amd64-3.8\scs
  copying src\__init__.py -> build\lib.win-amd64-3.8\scs
  running build_ext
  blas_mkl_info:
      libraries = ['mkl_rt']
      library_dirs = ['C:/Users/LENOVO/anaconda3\\Library\\lib']
      define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
      include_dirs = ['C:/Users/LENOVO/anaconda3\\Library\\include']
  blas_opt_info:
      libraries = ['mkl_rt']
      library_dirs = ['C:/Users/LENOVO/anaconda3\\Library\\lib']
      define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
      include_dirs = ['C:/Users/LENOVO/anaconda3\\Library\\include']
  lapack_mkl_info:
      libraries = ['mkl_rt']
      library_dirs = ['C:/Users/LENOVO/anaconda3\\Library\\lib']
      define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
      include_dirs = ['C:/Users/LENOVO/anaconda3\\Library\\include']
  lapack_opt_info:

  Downloading fancyimpute-0.5.5.tar.gz (20 kB)
Collecting knnimpute
  Downloading knnimpute-0.1.0.tar.gz (8.3 kB)
Requirement already satisfied: numpy>=1.10 in c:\users\lenovo\anaconda3\lib\site-packages (from fancyimpute) (1.19.2)
Requirement already satisfied: scipy in c:\users\lenovo\anaconda3\lib\site-packages (from fancyimpute) (1.5.2)
Collecting cvxpy>=1.0.6
  Downloading cvxpy-1.1.10-cp38-cp38-win_amd64.whl (824 kB)
Requirement already satisfied: scikit-learn>=0.21.2 in c:\users\lenovo\anaconda3\lib\site-packages (from fancyimpute) (0.23.2)
Collecting keras>=2.0.0
  Using cached Keras-2.4.3-py2.py3-none-any.whl (36 kB)
Collecting tensorflow
  Downloading tensorflow-2.4.1-cp38-cp38-win_amd64.whl (370.7 MB)
Requirement already satisfied: six in c:\users\lenovo\anaconda3\lib\site-packages (from knnimpute->fancyimpute) (1.15.0)
Collecting osqp>=0.4.1
  Downloading osqp-0.6.2.post0-cp38-cp38-win_amd64.whl (162 kB)
Collecting ecos>=2
  Downloading ecos-2.0.7.post1.tar.gz (126 kB)
Collecting scs>=1.1.6
  Downloading scs-2.1.2.tar.gz (3.5 MB)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn>=0.21.2->fancyimpute) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn>=0.21.2->fancyimpute) (0.17.0)
Requirement already satisfied: h5py in c:\users\lenovo\anaconda3\lib\site-packages (from keras>=2.0.0->fancyimpute) (2.10.0)
Requirement already satisfied: pyyaml in c:\users\lenovo\anaconda3\lib\site-packages (from keras>=2.0.0->fancyimpute) (5.3.1)
Collecting tensorflow-estimator<2.5.0,>=2.4.0
  Downloading tensorflow_estimator-2.4.0-py2.py3-none-any.whl (462 kB)
Requirement already satisfied: typing-extensions~=3.7.4 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow->fancyimpute) (3.7.4.3)
Collecting protobuf>=3.9.2
  Downloading protobuf-3.15.3-py2.py3-none-any.whl (173 kB)
Collecting tensorboard~=2.4
  Downloading tensorboard-2.4.1-py3-none-any.whl (10.6 MB)
Collecting flatbuffers~=1.12.0
  Downloading flatbuffers-1.12-py2.py3-none-any.whl (15 kB)
Collecting termcolor~=1.1.0
  Downloading termcolor-1.1.0.tar.gz (3.9 kB)
Collecting grpcio~=1.32.0
  Downloading grpcio-1.32.0-cp38-cp38-win_amd64.whl (2.6 MB)
Collecting absl-py~=0.10
  Downloading absl_py-0.11.0-py3-none-any.whl (127 kB)
Collecting astunparse~=1.6.3
  Downloading astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: wheel~=0.35 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow->fancyimpute) (0.35.1)
Collecting keras-preprocessing~=1.1.2
  Downloading Keras_Preprocessing-1.1.2-py2.py3-none-any.whl (42 kB)
Collecting opt-einsum~=3.3.0
  Downloading opt_einsum-3.3.0-py3-none-any.whl (65 kB)
Collecting google-pasta~=0.2
  Downloading google_pasta-0.2.0-py3-none-any.whl (57 kB)
Collecting wrapt~=1.12.1
  Downloading wrapt-1.12.1.tar.gz (27 kB)
Collecting gast==0.3.3
  Downloading gast-0.3.3-py2.py3-none-any.whl (9.7 kB)
Collecting qdldl
  Downloading qdldl-0.1.5.post0-cp38-cp38-win_amd64.whl (74 kB)
Collecting tensorboard-plugin-wit>=1.6.0
  Downloading tensorboard_plugin_wit-1.8.0-py3-none-any.whl (781 kB)
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Downloading google_auth_oauthlib-0.4.2-py2.py3-none-any.whl (18 kB)
Collecting google-auth<2,>=1.6.3
  Downloading google_auth-1.27.0-py2.py3-none-any.whl (135 kB)
Collecting markdown>=2.6.8
  Downloading Markdown-3.3.4-py3-none-any.whl (97 kB)
Requirement already satisfied: setuptools>=41.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorboard~=2.4->tensorflow->fancyimpute) (50.3.1.post20201107)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorboard~=2.4->tensorflow->fancyimpute) (1.0.1)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorboard~=2.4->tensorflow->fancyimpute) (2.24.0)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.0-py2.py3-none-any.whl (23 kB)
Collecting rsa<5,>=3.1.4; python_version >= "3.6"
  Downloading rsa-4.7.2-py3-none-any.whl (34 kB)
Collecting cachetools<5.0,>=2.0.0
  Using cached cachetools-4.2.1-py3-none-any.whl (12 kB)
Collecting pyasn1-modules>=0.2.1
  Downloading pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow->fancyimpute) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow->fancyimpute) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow->fancyimpute) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow->fancyimpute) (3.0.4)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.1.0-py2.py3-none-any.whl (147 kB)
Collecting pyasn1>=0.1.3
  Downloading pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
Building wheels for collected packages: fancyimpute, knnimpute, ecos, scs, termcolor, wrapt
  Building wheel for fancyimpute (setup.py): started
  Building wheel for fancyimpute (setup.py): finished with status 'done'
  Created wheel for fancyimpute: filename=fancyimpute-0.5.5-py3-none-any.whl size=26460 sha256=1487beb761593c61f449d4baedf9be5981b83647f22e5c2ac220d57c197107ce
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\fc\a1\09\732183800f7c813b6698e5a15bf1b47d52b037ec76d7277aa5
  Building wheel for knnimpute (setup.py): started
  Building wheel for knnimpute (setup.py): finished with status 'done'
  Created wheel for knnimpute: filename=knnimpute-0.1.0-py3-none-any.whl size=11358 sha256=a2787d08740904cc910657956652854d7b0e657a60ba10a18c30c8eeae89907d
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\5f\e9\7a\9969b4e11eb626b45f12a46849b8c65aa718244a243583caf1
  Building wheel for ecos (setup.py): started
  Building wheel for ecos (setup.py): finished with status 'error'
  Running setup.py clean for ecos
  Building wheel for scs (setup.py): started
  Building wheel for scs (setup.py): finished with status 'error'
  Running setup.py clean for scs
  Building wheel for termcolor (setup.py): started
  Building wheel for termcolor (setup.py): finished with status 'done'
  Created wheel for termcolor: filename=termcolor-1.1.0-py3-none-any.whl size=4835 sha256=df8f15433dec534bcf31656ffa98b753e087e1f46ea7c051993230fcd530e00e
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\a0\16\9c\5473df82468f958445479c59e784896fa24f4a5fc024b0f501
  Building wheel for wrapt (setup.py): started
  Building wheel for wrapt (setup.py): finished with status 'done'

      libraries = ['mkl_rt']
      library_dirs = ['C:/Users/LENOVO/anaconda3\\Library\\lib']
      define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
      include_dirs = ['C:/Users/LENOVO/anaconda3\\Library\\include']
  Could not locate executable g77
  Could not locate executable f77
  Could not locate executable ifort
  Could not locate executable ifl
  Could not locate executable f90
  Could not locate executable DF
  Could not locate executable efl
  Could not locate executable gfortran
  Could not locate executable f95
  Could not locate executable g95
  Could not locate executable efort
  Could not locate executable efc
  Could not locate executable flang
  don't know how to compile Fortran code on platform 'nt'
  C:\Users\LENOVO\anaconda3\lib\site-packages\numpy\distutils\system_info.py:1914: UserWarning:
      Optimized (vendor) Blas libraries are not found.
      Falls back to netlib Blas library which has worse performance.
      A better performance should be easily gained by switching
      Blas library.
    if self._calc_info(blas):
  C:\Users\LENOVO\anaconda3\lib\site-packages\numpy\distutils\system_info.py:1914: UserWarning:
      Blas (http://www.netlib.org/blas/) libraries not found.
      Directories to search for the libraries can be specified in the
      numpy/distutils/site.cfg file (section [blas]) or by setting
      the BLAS environment variable.
    if self._calc_info(blas):
  C:\Users\LENOVO\anaconda3\lib\site-packages\numpy\distutils\system_info.py:1914: UserWarning:
      Blas (http://www.netlib.org/blas/) sources not found.
      Directories to search for the sources can be specified in the
      numpy/distutils/site.cfg file (section [blas_src]) or by setting
      the BLAS_SRC environment variable.
    if self._calc_info(blas):
  C:\Users\LENOVO\anaconda3\lib\site-packages\numpy\distutils\system_info.py:1748: UserWarning:
      Lapack (http://www.netlib.org/lapack/) libraries not found.
      Directories to search for the libraries can be specified in the
      numpy/distutils/site.cfg file (section [lapack]) or by setting
      the LAPACK environment variable.
    return getattr(self, '_calc_info_{}'.format(name))()
  C:\Users\LENOVO\anaconda3\lib\site-packages\numpy\distutils\system_info.py:1748: UserWarning:

In [80]:
from fancyimpute import MICE
trans=MICE(verbose=False)
f_complete=trans.complete(f)

ModuleNotFoundError: No module named 'fancyimpute'